form#ss-form(action='https://docs.google.com/forms/d/1h3bj6lCDTDztUTuLj5DIFWoZVXTzKY8kh6ISIPm19uc/formResponse?embedded=true', method='POST', target='_self', onsubmit='')
  ol.ss-question-list(role='list', style='padding-left: 0')
    .ss-form-question.errorbox-good(role='listitem')
      .ss-item.ss-item-required.ss-text(dir='auto')
        .ss-form-entry
          label.ss-q-item-label(for='entry_497755698')
            .ss-q-title
              | Name
              label(for='itemView.getDomIdToLabel()', aria-label='(Required field)')
              span.ss-required-asterisk(aria-hidden='true') *
            .ss-q-help.ss-secondary-text(dir='auto')
          input#entry_497755698.ss-q-short(type='text', name='entry.497755698', value='', dir='auto', aria-label='Name  ', aria-required='true', required='', title='')
          #1017326026_errorMessage.error-message
          .required-message This is a required question
    .ss-form-question.errorbox-good(role='listitem')
      .ss-item.ss-item-required.ss-text(dir='auto')
        .ss-form-entry
          label.ss-q-item-label(for='entry_849403966')
            .ss-q-title
              | Email
              label(for='itemView.getDomIdToLabel()', aria-label='(Required field)')
              span.ss-required-asterisk(aria-hidden='true') *
            .ss-q-help.ss-secondary-text(dir='auto')
          input#entry_849403966.ss-q-short(type='text', name='entry.849403966', value='', dir='auto', aria-label='Email  ', aria-required='true', required='', title='')
          #584988342_errorMessage.error-message
          .required-message This is a required question
    .ss-form-question.errorbox-good(role='listitem')
      .ss-item.ss-text(dir='auto')
        .ss-form-entry
          label.ss-q-item-label(for='entry_50518168')
            .ss-q-title
              | Website or Blog
            .ss-q-help.ss-secondary-text(dir='auto')
          input#entry_50518168.ss-q-short(type='text', name='entry.50518168', value='', dir='auto', aria-label='Website or Blog  ', title='')
          #1461904788_errorMessage.error-message
          .required-message This is a required question
    .ss-form-question.errorbox-good(role='listitem')
      .ss-item.ss-checkbox(dir='auto')
        .ss-form-entry
          label.ss-q-item-label(for='entry_1727174085')
            .ss-q-title
              | Volunteer Interest
            .ss-q-help.ss-secondary-text(dir='auto') Select a project or initiative you would like to be involved with.
          ul.ss-choices(role='group', aria-label='Volunteer Interest Select a project or initiative you would like to be involved with. ')
            li.ss-choice-item
              label
                span.ss-choice-item-control.goog-inline-block
                  input#group_729372642_1.ss-q-checkbox(type='checkbox', name='entry.729372642', value='Detroit Board and Beautify', role='checkbox')
                span.ss-choice-label Detroit Board and Beautify
            li.ss-choice-item
              label
                span.ss-choice-item-control.goog-inline-block
                  input#group_729372642_2.ss-q-checkbox(type='checkbox', name='entry.729372642', value='The Brother Bear Project', role='checkbox')
                span.ss-choice-label The Brother Bear Project
            li.ss-choice-item
              label
                span.ss-choice-item-control.goog-inline-block
                  input#group_729372642_3.ss-q-checkbox(type='checkbox', name='entry.729372642', value='ICO Detroit', role='checkbox')
                span.ss-choice-label ICO Detroit
            li.ss-choice-item
              label
                span.ss-choice-item-control.goog-inline-block
                  input#group_729372642_4.ss-q-checkbox(type='checkbox', name='entry.729372642', value='ICO Blog', role='checkbox')
                span.ss-choice-label ICO Blog
          #1727174085_errorMessage.error-message
          .required-message This is a required question
    .ss-form-question.errorbox-good(role='listitem')
      .ss-item.ss-checkbox(dir='auto')
        .ss-form-entry
          label.ss-q-item-label(for='entry_2113454760')
            .ss-q-title
              | You are a(n)...
            .ss-q-help.ss-secondary-text(dir='auto')
          ul.ss-choices(role='group', aria-label='You are a(n)...  ')
            li.ss-choice-item
              label
                span.ss-choice-item-control.goog-inline-block
                  input#group_814998467_1.ss-q-checkbox(type='checkbox', name='entry.814998467', value='Artist', role='checkbox')
                span.ss-choice-label Artist
            li.ss-choice-item
              label
                span.ss-choice-item-control.goog-inline-block
                  input#group_814998467_2.ss-q-checkbox(type='checkbox', name='entry.814998467', value='Writer', role='checkbox')
                span.ss-choice-label Writer
            li.ss-choice-item
              label
                span.ss-choice-item-control.goog-inline-block
                  input#group_814998467_3.ss-q-checkbox(type='checkbox', name='entry.814998467', value='Educator', role='checkbox')
                span.ss-choice-label Educator
            li.ss-choice-item
              label
                span.ss-choice-item-control.goog-inline-block
                  input#group_814998467_4.ss-q-checkbox(type='checkbox', name='entry.814998467', value='Entrepreneur', role='checkbox')
                span.ss-choice-label Entrepreneur
            li.ss-choice-item
              label
                span.ss-choice-item-control.goog-inline-block
                  input#group_814998467_5.ss-q-checkbox(type='checkbox', name='entry.814998467', value='Detroiter', role='checkbox')
                span.ss-choice-label Detroiter
            li.ss-choice-item
              label
                span.ss-choice-item-control.goog-inline-block
                  input#group_814998467_6.ss-q-checkbox(type='checkbox', name='entry.814998467', value='Citizen of Earth', role='checkbox')
                span.ss-choice-label Citizen of Earth
          #2113454760_errorMessage.error-message
          .required-message This is a required question
    input(type='hidden', name='draftResponse', value='[,,"-86965533911098375"]\
    ')
    input(type='hidden', name='pageHistory', value='0')
    input(type='hidden', name='fvv', value='0')
    input(type='hidden', name='fbzx', value='-86965533911098375')
    .ss-item.ss-navigate
      table#navigation-table
        tbody
          tr
            td#navigation-buttons.ss-form-entry.goog-inline-block(dir='ltr')
              input#ss-submit.jfk-button.jfk-button-action(type='submit', name='submit', value='Submit')
              .ss-password-warning.ss-secondary-text Never submit passwords through Google Forms.
