extends ./subpage.jade

block content
  .write-up
    p Imaginarium Creative Outreach was dreamed of to inspire and uplift the youth of Detroit through art, creativity, and the power of imagination.
    p ICO strives to bridge the gap between Detroit’s underserved youth and the opportunities, initiatives, and people that can help them make a positive difference in their lives and in their communities. Artists, Thinkers, Community Leaders, and Dreamers alike will serve as tutors, mentors, and role models to provide academic support along with inspiration and encouragement for young ones to grow strong, creative minds.
    p Imaginarium Creative Outreach will work to inspire the next generation of Detroiters to build a more beautiful, hope-filled community.
  .contact-info
    p Interested in helping out?
    a.get-in-touch(href='/get-involved/') Get In Touch!

block css
  link(href='/css/about.css', rel='stylesheet')
