extends ./subpage

block content
  #blog-posts

block footer-extra
  .special-tags
    .tag.get-creative get creative
    .tag.get-inspired get inspired

block js
  script(src='/dist/js/blog/index.js')

block css
  link(href='/dist/css/blog.css', rel='stylesheet')
