extends ./subpage

block vars 
  - var active = "blog";

block css
  link(rel='stylesheet', href='css/dist/blog.css')

block content
  iframe(src='http://kristianchanel.blogspot.com/', width='100%', height='100%')
    p Your browser does not support iframes.

  script(src='/js/dist/blog.js', type='text/javascript')