extends ./subpage

block content
  .write-up Imaginarium Creative Outreach will do its best to raise awareness for all the opportunities Detroiters have to inspire and uplift their communities through the arts. Not only will ICO hosts projects and initiatives, we will also shine light on the incredible acts happening with local organizations, programs, and people
  .form
    iframe(src='https://docs.google.com/forms/d/1h3bj6lCDTDztUTuLj5DIFWoZVXTzKY8kh6ISIPm19uc/viewform?embedded=true', width='760', height='1100', frameborder='0', marginheight='0', marginwidth='0') Loading...

block css
  link(href='/dist/css/get-involved.css' rel='stylesheet')
