extends ./subpage

block content
  .write-up Imaginarium Creative Outreach will do its best to raise awareness for all the opportunities Detroiters have to inspire and uplift their communities through the arts. Not only will ICO hosts projects and initiatives, we will also shine light on the incredible acts happening with local organizations, programs, and people
  .form
    .form-title Contact Us!
    include ./components/contact-form

block css
  link(href='/css/get-involved.css' rel='stylesheet')

