html
  head
    title= title
    include components/meta

    link(href='/css/index.css', rel='stylesheet')
  body
    .title
      .page-title Imaginarium
      .page-subtitle Creative Outreach
    .site-nav
      a.nav-item.projects(href='/projects/') Projects
      a.nav-item.calendar(href='/calendar/') Calendar
      a.nav-item.about(href='/about/') About + Contact
      a.nav-item.blog(href='/blog/') Blog
