extends ./subpage

block content
  #projects

block css
  link(href='/css/projects.css', rel='stylesheet')

block js
  script(src='/js/projects.js')

block footer-extra
  .footer-links
    a.nav-item.get-involved(href='/get-involved/') Get Involved
    //-a.nav-item.donate(href='/donate/') Donate
