html

  head
    title=title + ' - ICO Detroit'
    include components/meta

    link(href='/css/subpage.css' rel='stylesheet')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    block css
  body(class='#{title.toLowerCase().replace(" ", "-")}')
    a.title(href='/')
      .page-title Imaginarium
      .page-subtitle=title

    .content
      block content

    block footer
      .footer
        #navbar

        .footer-extra
          block footer-extra

    block js
      script(src='/js/subpage.js')
