html

  head
    title=title + ' - ICO Detroit'
    include components/meta

    link(href='/dist/css/subpage.css' rel='stylesheet')
    block css
  body(class='#{title.toLowerCase()}')
    .title
      .page-title Imaginarium
      .page-subtitle=title

    block content

    block footer
      .footer
        .page-name=title

    block js