/** Claire Hand **/
@font-face {
  font-family: 'Claire Hand';
  font-weight: bold;
  src: url(../../../fonts/ClaireHand/ClaireHandBold.ttf); }

@font-face {
  font-family: 'Claire Hand';
  font-weight: normal;
  src: url(../../../fonts/ClaireHand/ClaireHandRegular.ttf); }

@font-face {
  font-family: 'Claire Hand';
  font-weight: lighter;
  src: url(../../../fonts/ClaireHand/ClaireHandLight.ttf); }

/** KD Always a Good Time **/
@font-face {
  font-family: 'KD';
  font-weight: normal;
  src: url(../../../fonts/KGAlwaysAGoodTime/KGAlwaysAGoodTime.ttf); }

*, *:after, *:before {
  box-sizing: border-box; }

.page-title {
  font-family: 'Claire Hand';
  font-weight: bold; }

.page-subtitle {
  font-family: 'KD'; }

.page-title, .page-subtitle {
  display: inline-block;
  margin-right: 20px;
  font-size: 40px; }
  @media (max-width: 768px) {
    .page-title, .page-subtitle {
      margin-right: 0;
      width: 100%; } }

body {
  background-image: url(/img/icopicture.png);
  background-position: 0% 75%;
  background-repeat: no-repeat;
  background-size: cover; }

.title {
  color: white;
  width: 80%;
  margin: 0 auto;
  padding-top: 20%;
  margin-bottom: 25px; }
  @media (max-width: 768px) {
    .title {
      padding-top: 35%;
      text-align: center; } }
  .title .page-title {
    letter-spacing: 10px; }

.site-nav {
  width: 80%;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .site-nav {
      margin-top: 20px;
      border-top: 1px solid white; } }
  .site-nav .nav-item {
    text-transform: lowercase;
    text-decoration: none;
    font-family: 'KD';
    margin-right: 30px;
    font-size: 30px;
    padding: 10px;
    margin: 10px 5px;
    border-radius: 10px; }
    @media (max-width: 768px) {
      .site-nav .nav-item {
        display: block;
        width: 100%;
        text-align: center; } }
    .site-nav .nav-item.projects {
      background-color: #9FD9F0;
      color: white;
      border-radius: 10px;
      transition: background 250ms linear, color 250ms linear;
      -o-transition: background 250ms linear, color 250ms linear;
      -moz-transition: background 250ms linear, color 250ms linear;
      -webkit-transition: background 250ms linear, color 250ms linear; }
      .site-nav .nav-item.projects:hover, .site-nav .nav-item.projects.active {
        background-color: #47b6e2; }
    .site-nav .nav-item.calendar {
      background-color: #E5A33A;
      color: white;
      border-radius: 10px;
      transition: background 250ms linear, color 250ms linear;
      -o-transition: background 250ms linear, color 250ms linear;
      -moz-transition: background 250ms linear, color 250ms linear;
      -webkit-transition: background 250ms linear, color 250ms linear; }
      .site-nav .nav-item.calendar:hover, .site-nav .nav-item.calendar.active {
        background-color: #a36d16; }
    .site-nav .nav-item.about {
      background-color: #A8B4F3;
      color: white;
      border-radius: 10px;
      transition: background 250ms linear, color 250ms linear;
      -o-transition: background 250ms linear, color 250ms linear;
      -moz-transition: background 250ms linear, color 250ms linear;
      -webkit-transition: background 250ms linear, color 250ms linear; }
      .site-nav .nav-item.about:hover, .site-nav .nav-item.about.active {
        background-color: #4e67e7; }
    .site-nav .nav-item.blog {
      background-color: #74C19E;
      color: white;
      border-radius: 10px;
      transition: background 250ms linear, color 250ms linear;
      -o-transition: background 250ms linear, color 250ms linear;
      -moz-transition: background 250ms linear, color 250ms linear;
      -webkit-transition: background 250ms linear, color 250ms linear; }
      .site-nav .nav-item.blog:hover, .site-nav .nav-item.blog.active {
        background-color: #408f6b; }
