@import 'jeet/scss/jeet/index';
@import './lib/base';

$filter-font-size: 20px;
$filter-line-height: 30px;

#blog {
  padding: 5%;

  .filters {
    text-align: center;

    .filter {
      display: inline-block;
      text-transform: capitalize;
      text-align: center;
      cursor: pointer;
      font-size: $filter-font-size;
      line-height: $filter-line-height;
      @include transition(all 250ms ease-in);
      width: 30%;
      margin-right: 3%;
      position: relative;
      font-family: 'Claire Hand';

      @media (min-width: $screen-md) {
        width: 20%;
        margin-right: 3%;
      }

      &:before {
        content: '#';
        display: inline-block;
        margin-right: 5px;
      }

      &.available {
        color: $blog-color;
        border: 1px solid $blog-color;

        &:hover {
          background: $blog-color;
          color: white;
        }
      }

      &.active {
        color: white;
        background: $blog-color;

        .remove-filter {
          color: white;
          background: $warning-color;
          height: 100%;
          width: 10%;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
  }

  .blog-post {

    .header {

      & > div {
        @include column(1/1);
        font-family: 'Claire Hand';
        font-weight: bold;
        font-size: 25px;
        height: 25px;
        color: #74C19E;
        margin-bottom: 15px;

        a {
          text-decoration: none;
          color: inherit;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .title {
        letter-spacing: 5px;
        word-spacing: 5px;
      }
    }
  }

  .author {
    @include column(1/1);
    color: $warning-color;
    font-size: 20px;
    font-family: 'KD';
    margin: 10px 0px;
    opacity: .75;
  }

  .labels {

    .label {
      display: inline-block;
      margin-right: 20px;
      color: $success-color;

      &:before {
        content: '#';
      }
    }
  }
}

.special-tags {
  height: 100%;
  display: none;
  overflow: hidden;

  @media (min-width: $screen-sm) {
    display: block;
    width: 100%;
  }

  .tag {
    @include column(1/3);
    position: relative;
    display: inline-block;
    font-family: 'Claire Hand';
    float: right;
    text-align: center;
    cusor: pointer;

    &:before {
      content: '#';
      color: darken($success-color, 10%);
      position: absolute;
      font-size: 200px;
      left: 0%;
      z-index: -1;
      top: 50%;
    }
  }
}
