@import './subpage.scss';

.write-up {
  width: 40%;
  text-align: right;
  display: inline-block;
  float: left;
  font-family: $paragraph-font;
  margin-top: 20%;
  font-size: 26px;
  margin: 13% 5% 0% 5%;
  text-align: center;

  @media (max-width: $screen-sm) {
    width: 100%;
    text-align: center;
    margin: 0;
  }
}

.form {
  text-align: center;
  width: 50%;
  display: inline-block;

  @media (max-width: $screen-sm) {
    width: 100%;
    margin-top: 20px;
  }
}

.form-title {
  font-size: 40px;
  width: 100%;
  text-align: center;
  font-family: 'KD';
  font-weight: bold;
  color: $projects-color;
}

// Google form shit

form {
  font-family: 'Claire Hand';
  label {
  }

  input {
    border: none;
    border-bottom: 1px solid #eee;
    width: 100%;
    text-align: center;
    outline: none;
  }

  li {
    text-decoration: none;
    list-style-type: none;
  }

  .ss-required-asterisk {
    color: red;
  }

  .required-message {
    display: none;
  }

  .ss-form-question{
    margin-bottom: 15px;

  }

  .ss-choices {
    margin: 10px 0px;

    .ss-choice-item {
      text-align: left;
    }
  }

  .ss-q-title {
    font-weight: bold;
  }

  #ss-submit {
    width: 40%;
    margin: 0 auto;
    cursor: pointer;
    @include button($projects-color);
    font-family: 'Claire Hand';
    text-align: center;
    font-size: 35px;
    line-height: 50px;
    padding-top: 10px;
  }
}

.goog-inline-block {
  display: inline-block;
}

input[type='checkbox'] {
  width: auto;
}

input[type='text'] {
  font-size: 25px;
  line-height: 40px;
  background: $projects-color;
  color: white;
  width: 50%;
  margin: 0 auto;
  font-family: 'Claire Hand';
}
