@import 'lib/base';

body {
  background-image: url(/img/icopicture.png);
  background-position: 0% 75%;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  color: white;
  width: 80%;
  margin: 0 auto;
  padding-top: 20%;
  margin-bottom: 25px;

  @media (max-width: $screen-sm) {
    padding-top: 35%;
    text-align: center;
  }

  .page-title {
    letter-spacing: 10px;
  }
}

.site-nav {
  width: 80%;
  margin: 0 auto;

  @media (max-width: $screen-sm) {
    margin-top: 20px;
    border-top: 1px solid white;
  }

  .nav-item {
    text-transform: lowercase;
    text-decoration: none;
    font-family: 'KD';
    margin-right: 30px;
    font-size: 30px;
    padding: 10px;
    margin: 10px 5px;
    border-radius: 10px;

    @media (max-width: $screen-sm) {
      display: block;
      width: 100%;
      text-align: center;
    }

    &.projects {
      background: $primary-color;
      color: white;

      &:hover {
        background: darken($primary-color, 20%);
      }
    }
    &.calendar {
      background: $secondary-color;
      color: white;

      &:hover {
        background: darken($secondary-color, 20%);
      }
    }
    &.about {
      background: $about-color;
      color: white;

      &:hover {
        background: darken($about-color, 20%);
      }
    }
    &.blog {
      background: $success-color;
      color: white;

      &:hover {
        background: darken($success-color, 20%);
      }
    }
  }
}
