@import 'lib/base';

body {
  background-image: url(/img/icopicture.png);
  background-position: 0% 75%;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  color: white;
  width: 80%;
  margin: 0 auto;
  padding-top: 20%;

  @media (max-width: $screen-sm) {
    padding-top: 35%;
    text-align: center;
  }
}

.site-nav {
  @media (max-width: $screen-sm) {
    margin-top: 20px;
    border-top: 1px solid white;
  }

  .nav-item {
    text-transform: lowercase;
    text-decoration: none;
    font-family: 'KD';
    margin-right: 30px;
    font-size: 30px;

    @media (max-width: $screen-sm) {
      display: block;
      width: 100%;
      text-align: center;
    }

    &.projects {
      background: $primary-color;
      color: white;
    }
    &.calendar {
      background: $secondary-color;
      color: white;
    }
    &.about {
      background: $about-color;
      color: white;
    }
    &.blog {
      background: $success-color;
      color: white;
    }
  }
}