@import 'jeet/scss/jeet/index';
@import './lib/base';

$see-more-height: 30px;


body {
  margin-left: 0;
  margin-right: 0;

  &.project-summary-shown {
    overflow: hidden;
  }
}

.projects {
  width: 100%;
  margin-top: 20px;

  .project {
    width: 100%;
    margin-bottom: 50px;
    min-height: 500px;
    background-size: cover;
    background-position: 50%;
    position: relative;
    padding-top: 30px;

    .overlay {
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background: black;
      opacity: .3;
    }

    &.board-and-beautify {
     background-image: url(/img/ubuntuhouse.jpg);
    }

    &.brother-bear {
     background-image: url(/img/brotherbear.jpg);
    }

    .project-title {
      width: 100%;
      text-align: center;
      font-size: 50px;
      color: white;
      font-family: 'Claire Hand';
    }
  }
}

.see-more {
  width: 50%;
  margin: 0 25%;
  background: $projects-color;
  color: white;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 50px;
  cursor: pointer;
  height: $see-more-height;
  line-height: $see-more-height;
  font-family: 'KD';
  text-transform: lowercase;

  transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;

  &:hover {

    background: darken($projects-color, 30%);
/*    height: $see-more-height * 2;*/
    /*line-height: $see-more-height * 2;*/
  }
}


.summary-container {
  position: fixed;
  top: 0;
  left:0;
  height: 100%;
  width: 100%;
  background: rgba(black, .3);
  overflow: auto;

  .close-summary {
    position: absolute;
    color: white;
    font-size: 30px;
    cursor: pointer;
    right: 4%;
    top: 2%;
    z-index: 100;
  }

  .project-summary {
    background-color: $projects-color;
    position: relative;
    width: 80%;
    margin: 5% auto;
    margin-bottom: $footer-height * 2;
    padding: 20px;
    border-radius: 10px;
    height: auto;

    @media (min-width: $screen-md) {
      max-height: 70%;
    }

    .title {
      color: white;
      font-family: 'Claire Hand';
      font-size: 40px;
      padding: 0 20px;
    }

    p {
      color: white;
    }

    .write-up {
      font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;

      @media (max-width: $screen-sm) {
        width: 100%;
      }
    }

    &.board-and-beautify {
      .write-up, .kickstarter-embed  {
        text-align: center;
        @media (min-width: $screen-sm) {
          width: 48%;
          display: inline-block;
        }
      }

      .write-up {
        float: left;
      }

      .kickstarter-embed {
        text-align: center;

        iframe {
          max-width: 100%;
          margin: 0 auto;
        }
      }
    }

    &.brother-bear {
      .write-up {
        width: 100%;
      }
    }

    .image {
      text-align: center !important;
      img {
        width: 50%;

      }
    }
  }
}

.footer-links {
  position: relative;
  font-family: 'Claire Hand';
  width: 100%;

  .nav-item {
    float: right;
    display: inline-block;
    text-decoration: none;
    width: 40%;
  }
}
