@import "./include/subpage.scss";

#the-idea {
	.idea {
		padding: 20px 10px 0px 10px;
		overflow: auto;
		.idea-description {
			@include grid(2/3, 1/1);
			display: inline-block;
		}
		.idea-word {
			@include grid(1/3, 1/1);
			font-size: 4em;
			text-align: center;
			font-family: chalkboard;
			color: $primary-color;
			display: inline-block;
			margin-bottom: 10px;
			text-align: center !important;

			@media (min-width: $screen-md) {
				margin-bottom: 0px;
			}

			&.right {
				@media(min-width: $screen-md) {
					float: right;
				}
			}
		}
	}
}

#the-artists {
	.artist {
		padding: 20px 0px;
		.artist-title {
			@include grid(1/1);
			font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;

			@media(min-width) {
				// @include
			}

			h2 {
				width: 100%;
				text-align: center;
			}
		}
		.description {
			@include grid(1/1);
			font-family: 'Lucida Bright', Georgia, serif;

			.image {
				@include grid(1/2);
				padding: 20px;

				img {
					width: 100%;
					border-radius: 10px;
				}
			}
			.about {
				@include grid(1/2);
				padding: 20px;
				font-size: $font-size-lg;

				.contact {
					a {
						@include grid(1/2);
						font-size: 45px;
						text-align: center !important;

						@media (min-width: $screen-md) {
							font-size: 90px;
						}

						&.twitter {
							i:hover {
								color: $twitter-blue !important;
							}
						}

						&.email {
							i:hover {
								color: $primary-color !important;
							}
						}
					}
				}

				.fa {
					color: grey !important;
				}
			}
		}
	}

	hr {
		width: 50%;
		margin: 0 auto;
	}
}