@import 'lib/base';
@import 'jeet/scss/jeet/index.scss';

@mixin subpage-body($page-type, $color) {

  &.#{$page-type} {
   .title {
      color: $color;
    }

    .footer, #navbar {
      background-color: $color;
    }

    .pages {
      .nav-item.#{$page-type} {
        display: none !important;
      }
    }

    .nav-item {
      background: $color;

      @include button($color);

    }
  }
}

body {
  margin-bottom: $footer-height;

  @include subpage-body('projects', $projects-color);

  @include subpage-body('get-involved', $projects-color);

  @include subpage-body('calendar', $calendar-color);

  @include subpage-body('blog', $blog-color);

  @include subpage-body('about',$about-color);
}

.title {
  text-align: center;
  width: 100%;
  display: block;

  .page-subtitle {
    text-transform: lowercase;
  }
}

.footer {
  position: fixed;
  height: $footer-height;
  width: 100%;
  bottom: 0;
  left: 0;
  line-height: $footer-line-height;
  color: white;
  z-index: $footer-z-index;
  box-shadow: 0 0 .2em black;

  .page-name {
    text-transform: lowercase;
    font-size: 25px;
    font-family: 'KD';
  }
}


/* Navbar stuff */

.navbar, .pages {
  @include column(1/1);
  font-family: 'Claire Hand';
  font-weight: bold;
  background: inherit;
  line-height: $footer-height;

  @media (min-width: $screen-sm) {
    @include column(1/3);
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.footer-extra {
  display: none;
  height: $footer-height;
  line-height: $footer-height;
  font-family: 'Claire Hand';

  @media (min-width: $screen-sm) {
    display: block;
    @include column(2/3);
  }

  .nav-item {
    float: right;
    display: inline-block;
    text-decoration: none;
    width: 40%;
  }
}

.navbar {
  padding: 10px;

  &.hidden {
    .nav-item {
      display: none;
    }

    .menu-toggle {
      .fa-caret-up {
        display: none;
      }

      .fa-caret-down {
        display: inline-block;
      }
    }
  }

  .menu-toggle {
    .fa-caret-up{
      display: inline-block;
    }

    .fa-caret-down {
      display: none;
    }
  }
}

.pages {
  position: fixed;
  bottom: $footer-height;
  left: 0;
  background: transparent;

  .nav-item {
    opacity: 0;
    border: 1px solid white;
  }
}

.menu-toggle, .nav-item {
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
  color: white;
  text-align: center;
  font-size: 40px;
  display: block;
  cursor: pointer;
}

/* End Navbar stuff */
